.chef-name{
    font-size: 5rem;
}
.chef-banner{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgb(255, 255, 255)), url("../../../images/bg-1.png");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
}