.top-banner {
    margin-top: -21vh;
    background: linear-gradient(0deg, rgb(255, 0, 0, 0.7), rgb(255, 0, 0, 0.7)), url("../../../images/bg-1.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-banner-heading{
    margin-top: 22vh;
    font-size: 20rem;
}

@media screen and (min-width: 768px) and (max-width:1080px)  {
.top-banner-heading{
    font-size: 15rem;
}    
}
@media screen and (max-width:767px)  {
.top-banner-heading{
    font-size: 7rem;
}
}