.package-menu-banner{
            background-color: #eee6cc;
            min-height: 100vh;
}
.package-menu-card{
    background-color: #faf5e4;
    border-radius: 3%;
}
.package-menu-card-img{
    margin: 5rem;
    height: 7rem;
}
.package-menu-card-title{
    font-size: 3.5rem;
}
@media screen and (max-width:1080px) {
    .package-menu-card-title {
            font-size: 2.5rem;
        }
}