.subscribe-banner{
    background-color: #faf5e4;
    min-height: 60vh;
}
.subscribe-button{
    margin-left: -15vh;
}
.subscribe-input {
    width: 50% !important;
}
@media screen and (max-width:1080px) {
    .subscribe-button{
        font-size: 0.8rem;
        padding: 0.5rem 1.5rem !important;
        margin-left: -12vh;
    }
    .subscribe-input{
        width: 80% !important;
    }
}