@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.grand-hotel-font{
    font-family: 'Grand Hotel', cursive;
}
.primary-colour{
    color: #e8565e !important;
}
.main-button {
    padding: 1rem 5rem !important;
}
.primary-background{
    background-color: #e8565e !important;
}