@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.grand-hotel-font{
    font-family: 'Grand Hotel', cursive;
}
.primary-colour{
    color: #e8565e !important;
}
.main-button {
    padding: 1rem 5rem !important;
}
.primary-background{
    background-color: #e8565e !important;
}
.fs-secondary {
    font-size: 2rem;
}

.fs-tertiary {
    font-size: 1.5rem;
}
@media screen and (max-width:1080px) {
    .main-button {
        padding: 1rem 2rem !important;

    }
        .fs-secondary {
            font-size: 1.2rem !important;
        }
    
        .fs-tertiary {
            font-size: 1rem;
        }
}
